<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <application
        android:name=".ChooserApplication"
        android:icon="@mipmap/ic_wallpaper"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallpaperPicker"
        tools:targetApi="tiramisu">
        <activity
            android:name=".WallpaperChooserActivity"
            android:exported="true"
            android:finishOnCloseSystemDialogs="true"
            android:process=":wallpaper_chooser">
        <intent-filter>
            <action android:name="android.intent.action.SET_WALLPAPER" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
            <meta-data android:name="android.wallpaper.preview"
                android:resource="@xml/wallpaper_picker_preview" />
        </activity>
        <activity
            android:name=".LauncherChooserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>